<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pucko</title>
  <style>
  body{
    background: #222;
  }
  canvas{
    display: block;
    width: 600px;
    margin: 40px auto;
    margin-bottom: 15px;
  }
  .instructions {
    width: 600px;
    line-height: 1.6em;
    font-size: 12px;
    margin: 0 auto;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  </style>
</head>
<body>
  <div id="game">

  </div>
  <div class="instructions">
    Move: WASD / Arrows <br> Shoot: Space <br> Block: Hold Space
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write("<script src='public/scripts/jquery.js'>\x3C/script>");
  </script>
  <script>
    window.Pucko = {};
    window.Pucko.$ = $(window.Pucko);
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="public/scripts/pixi.js"></script>
  <script src="shared/globals.js"></script>
  <script src="public/scripts/sync.js"></script>
  <script src="shared/player.js"></script>
	<script src="shared/puck.js"></script>
  <script src="public/scripts/pucko.js"></script>
</body>
</html>